registry=https://registry.npmmirror.com/
ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/
electron_mirror=https://npmmirror.com/mirrors/electron/
ELECTRON_CUSTOM_DIR={{ version }}
electron_custom_dir={{ version }}
ELECTRON_BUILDER_BINARIES_MIRROR=https://npmmirror.com/mirrors/electron-builder-binaries/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
